= form_for Chat.new, :remote => true do |f|
  .field
    = f.label :username, 'Who Dat?'
    = f.text_field :username, :value => @username
  .field
    = f.label :message, 'Speak!'
    = f.text_field :message, :id => "new_chat_message_input"
  .actions
    = f.submit 'Push that Shiz', :class => 'btn btn-primary'
